<h2>Existing admins</h2>

<table>
  <tbody>
    <% Admin.activated.each do |admin| %>
      <tr>
        <th><%= admin.email %></th>
        <td><%= link_to 'Deactivate', admin, :method => 'delete', data: { confirm: "Are you sure?" } unless admin == current_admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if Admin.invitation_not_accepted.any? %>
  <br>

  <h2>Invited admins</h2>

  <% Admin.invitation_not_accepted.each do |admin| %>
    <table>
      <tbody>
        <tr>
          <th><%= admin.email %></th>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

<br>

<%= link_to 'New admin', new_admin_invitation_path %>
