<table>
  <tbody>
    <% @admins.each do |admin| %>
      <% if admin.activated %>
        <tr>
          <th><%= admin.email %></th>
          <td><%= link_to 'Deactivate', admin, :method => 'delete', data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New admin', new_admin_invitation_path %>
