<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class='card'>
    <%= devise_error_messages! %>

    <p class="field">
      <%= f.email_field :email, autofocus: true, autocorrect:"off", autocapitalize:"off", spellcheck:"false", placeholder: "Email Address" %>
      <span class='help-text'>Enter your email address to receive instructions to reset your password</span>
    </p>
  </div>

  <footer class="form-footer">
    <%= link_to "Sign in", new_session_path(resource_name), class: 'text-button' %>
    <button type='submit' class='primary-button'>Send me reset password instructions</button>
  </footer>
<% end %>

