<div class='ticket-title grid align-middle heading-grid'>
  <div class='grid-cell one-of-two page-heading'><%= heading %></div>
  <div class='grid-cell one-of-two align-right'>
    <%= link_to link_text, link_path, class: "button alt-button" %>
  </div>
</div>

