<span class='page-heading'>Not For Sale</span>
<%= link_to '(For sale)', tickets_path, class: 'minor-link' %>

<% if @nfs_packages.size > 0 %>
  <ul class='card-list'>
    <li class='card-heading'>Packages</li>
    <% @nfs_packages.each do |package| %>
      <li class='card-list-item grid no-gutter'><%= render partial: "ticket_item", locals: { item: package, type: "Package" } %></li>
    <% end %>
  </ul>
<% end %>

<% if @nfs_tickets.size > 0 %>
  <ul class='card-list'>
    <li class='card-heading'>Tickets</li>
    <% @nfs_tickets.each do |ticket| %>
      <li class='card-list-item grid no-gutter'><%= render partial: "ticket_item", locals: { item: ticket, type: "Ticket" } %></li>
    <% end %>
  </ul>
<% end %>
