.qr-code-link {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #444;
}

.search-tickets {
  display: flex;
  flex-flow: row nowrap;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.flex-column-auto {
  flex: 1 0 auto;
}
.scan-ticket {
  flex: 0 0 40px;
}

.search-button {
  vertical-align: middle;
  flex: 0 0 auto;
  button {
    font-size: 16px;
    line-height: 2em;
  }
}

.sales-table {
  .table-cell {
    padding: .4em 0;
    &:first-child { padding-left: 1em; }
    &:last-child  { padding-right: 1em; }
  }
  .table-row + .table-row .table-cell {
    border-top: 1px solid #ddd;
  }
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.auto-width-columns {
  > * {
    flex: 1 0 auto;
  }
}

.alt-nav {
  display: block;
}

.flex-row-spacer {
  flex: 1 0 auto;
}

.flex-after-small {
  @include until($small) {
    display: block;
    flex-flow: none;
    > * {
      display: block;
    }
  }
}

.admin-nav {
  background: #222;
  font-size: 14px;
  width: 100%;

  a { 
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 5px;
    &:hover {
      background: #444;
    }
  }

  .svg-icon {
    font-size: 18px;
  }

}

.help-text {
  font-size: .8em;
  color: #666;
}

.ticket-redemed {
  * { color: #888; }
}

.table-cell.redemed-mark {
  color: $blue;
  font-weight: bold;
}
.ticket-not-redemed {
  .sale-name {
    font-weight: bold;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sales-table {

  .sale-email {
    max-width: 150px;
  }

  @include until($small) {
    display: block;
    line-height: 1.3em;

    .table-cell.redemed-mark {
      width: auto;
      padding-left: 0;
    }

    .sale-date {
      font-size: .8em;
    }

    .sales-table-head {
      display: none;
    }
    .ticket-purchase {
      display: block;
    }
    .table-cell.table-cell {
      padding: 0;
    }
    .at-least-small {
      display: none;
    }
    .sale-email {
      display: block;
      width: 100%;
      max-width: 100%;
    }
    .table-row + .table-row .table-cell {
      border: none;
    }
    .table-row + .table-row {
      /*border-top: 1px solid #ddd;*/
    }
  }
}
