button, .button {
  font-size: .8em;
  background-image: none;
  border: none;
  padding: 1px 1em;
  margin: 0;
  line-height: 1.65em;
  vertical-align: middle;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #444;
  &:hover {
    background-color: darken(#3C99FB, 6);
  }
  text-decoration: none;
  display: inline-block;
}

.continue-button {
  font-size: 1.2em;
  padding: .6em 4em;
  width: 100%;
  background-color: $blue;
}

.primary-button {
  font-size: 1em;
  line-height: 2.2em;
  background: $blue;
  &.small {
    font-size: .8em;
    line-height: 1.65em;
  }
  &.wide {
    @include until($small) {
      width: 100%;
    }
  }
}

.alt-button {
  color: #222;
  background: #fff;
  border: 1px solid #bbb;

  &:hover {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
  }
}

.cart-edit-button {
  padding: .3em 1em;
  @extend .alt-button;
}

.arrow-button {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: none;
  padding: 4px;
  font-size: .8em;
  line-height: 1em;
  opacity: .2;
  &:hover {
    opacity: 1;
  }
}

.print-button {
  color: #333;
  background: rgba(#fff, .9);
  border: 1px solid rgba(#000, .7);
  font-size: 1.3em;
  &:hover {
    background: $blue;
    color: #fff;
  }
}

.order-buttons {
  form {
    margin: 0; padding: 0;
    display: inline;
  }
  .arrow-button {
    margin-left: 50%;
  }
}

.text-button {
  display: inline-block;
  color: #444;
  text-decoration: none;
  margin: 0 1em;
  &:hover {
    text-decoration: underline;
  }
}
