.cart-delete-item {
  font-size: 0;
  position: relative;
  width: 20px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;

  &:before, &:after {
    content: "";
    width: 15px;
    height: 2px;
    background: #ccc;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
  }
  &:hover {
    &:before, &:after {
      background: $red;
    }
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.cart-items {
  border: 1px solid $page-border { left: 0; right: 0 }
  padding: .6em 0;
}

.cart-item {
  margin: .2em 0;
  &-name {
    font-weight: 500;
  }

  &-count {
    width: 3em;
    text-align: right;
    padding: .1em .5em 0;
    font-size: .8em;
    margin: 0;
  }
}

.cart-edit {
  font-size: .9em;
}

.cart-totals {
  margin-top: 1.2em;
}

.static-cart {
  margin-top: 1em;
}

.cart-heading {
  margin: 1.2em 0;
}

.cart-total {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.8em;
}

.times {
  opacity: .8;
  display: inline-block;
  padding: 0 .5em;
}
