form {
  margin: 0;
}

.field {
  label {
    margin-top: .8em;
    display: block;
    line-height: 1.8em;
  }
  label+input {
    width: 100%;
    margin-bottom: .8em;
  }
  [type=text],[type=email],[type=password] {
    width: 100%;
  }
}

.form-footer {
  background: rgba(#222, .95);
  color: #fff;
  @extend .box-padding;
  text-align: right;
  margin: 0 0 2em;

  &.cart-form {
    position: relative;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0;
  }
}

@include until($medium) {
  .form-footer.cart-form {
    position: fixed;
    bottom: 0;
  }
}

.form-row {
  margin: .5em 0;
  +.form-row {
    margin-top: 1em;
  }
}

.back-link {
  color: inherit;
  text-decoration: none;
  opacity: .7;
  &:hover {
    opacity: .9;
  }
  transition: opacity .2s ease-in-out;
}

.inline-form {
  display: inline;
}
