$max-width: 650px;
$content-h-pad: 15px;
$light-text: #777;

* { box-sizing: border-box; }

html {
  height: 100%;
  color: #fff;
}

body {
  padding: 0; 
  margin: 0;
  &:after {
    content: "";
    min-height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    background: url('/images/cave-banner.jpg') no-repeat top center;
    background-size: cover;
  }
}

.hidden {
  display: none;
}

.site-content {
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom: $content-h-pad * 5;
}

.box-padding {
  padding: $content-h-pad/2 .5em;

  @include at-least($small) {
    padding: $content-h-pad 1em;
  }

  @include at-least($medium) {
    padding: $content-h-pad 1.5em;
  }
}

.h-padding {
  padding: { left: .5em; right: .5em }

  @include at-least($small) {
    padding: { left: 1em; right: 1em }
  }

  @include at-least($medium) {
    padding: { left: 1.5em; right: 1.5em }
  }
}

.site-header {
  position: relative;
  padding: 1px 0;
  background: rgba(#000, .5);
  margin-bottom: 3em;

  @include at-least($large) {
    margin-bottom: 5em;
  }
}

.site-header-content {
  text-align: center;
  h1 {
    margin: .8em 0;
    line-height: 1.1em;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .wrap-text {
    display: block;
    font-size: .7em;
  }
}
