$max-width: 650px;
$content-h-pad: 15px;
$light-text: #777;

* { box-sizing: border-box; }

html {
  height: 100%;
  color: #444;
  background: $site-bg;
}

body {
  padding: 0; 
  margin: 0;
}

.site-content {
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom: $content-h-pad * 4;
}

.box-padding {
  padding: $content-h-pad/2 .5em;

  @include at-least($small) {
    padding: $content-h-pad 1em;
  }

  @include at-least($medium) {
    padding: $content-h-pad 1.5em;
  }
}

.card {
  @extend .box-padding;
  background: #fff;
  border: 1px solid rgba(#000, .15);
}
