@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flash {
  0% {
    background-color: rgba(#fff, 0);
    z-index: 1;
  }
  25% {
    background-color: rgba(#fff, .1);
  }
  50% {
    background-color: rgba(#fff, .1);
  }
  75% {
    background-color: rgba(#fff, 0);
  }
  100% {
    z-index: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

@keyframes show-cart {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
    transform: translateY(0px);
  }
}

[id=quick-cart]{
  &.show {
    animation: fade-in .3s ease-in;
  }
  @include until($medium) {
    &.show .form-footer {
      animation: show-cart .4s ease-out;
    }
  }

  &.updated .quick-cart-content {
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      animation: flash .4s ease-out;
      z-index: -1;
    }
  }
}

.quick-cart {
  &-content {
    margin: 0 auto;
  }

  &-info, &-button {
    vertical-align: middle;
  }

  &-title {
    display: inline;
    margin: 0;
  }

  &-button {
    text-align: right;
  }


  &-items {
    font-size: .8em;
    opacity: .7;
  }

  &-total {
    font-weight: bold;
  }

  &-icon {
    font-size: 1.8em;
    position: relative;
    top: -.03em;
    color: $blue;
    .updated & {
      animation: wiggle .4s ease-out;
    }
  }
}

