@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flash {
  0% {
    background-color: rgba(#fc0, 0);
  }
  25% {
    background-color: rgba(#fc0, .1);
  }
  50% {
    background-color: rgba(#fc0, .1);
  }
  75% {
    background-color: rgba(#fc0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

@keyframes show-cart {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
    transform: translateY(0px);
  }
}

[id=quick-cart]{
  &.show {
    animation: fade-in .3s ease-in;
  }
}

@include until($medium) {
  [id=quick-cart]{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#fff, .95);
    z-index: 2;
    border-top: 1px solid #f2f2f2;
    display: none;
    &.show {
      animation: show-cart .4s ease-out;
    }
  }
}

.quick-cart {
  &-content {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    @include until($medium){
      padding: 0 1em;
    }
    .updated & {
      animation: flash .4s ease-out;
    }
  }

  &-info, &-form {
    padding: $content-h-pad/2 0;
    vertical-align: middle;
  }

  &-title {
    display: inline;
    margin: 0;
  }

  &-form {
    text-align: right;
  }

  &-button {
    @extend button;
    font-size: 1em;
    line-height: 2.2em;
    background: $blue;
  }

  &-items {
    font-size: .8em;
    color: $light-text;
  }

  &-total {
    font-weight: bold;
  }

  &-icon {
    font-size: 1.8em;
    position: relative;
    top: -.03em;
    color: $blue;
    .updated & {
      animation: wiggle .4s ease-out;
    }
  }
}

