.tickets {
  width: 100%;
}

.ticket {
  padding: 1em 0;
  + .ticket { border-top: 1px solid #ddd; }

  &-name {
    display: inline-block;
    margin: 0;
    font-size: 1.1em;
    margin-bottom: .4em;
  }

  &-price {
    display: block;
    margin-bottom: .4em;
    font-weight: 500;
  }

  &-description {
    margin: 0;
    color: #888;
    font-size: .95em;
  }

  &-count {
    vertical-align: top;
    white-space: nowrap;
  }

  &-savings {
    font-weight: 500;
  }

}

@include at-least($small) {
  .ticket-price {
    text-align: right; 
  }
}

@include until($small) {
  .price-grid {
    margin-top: .4em;
  }
}

.ticket-item {
  background: #fff;
  + .ticket-item {
    border-top: 1px solid $page-border;
  }
}

.ticket-item-link {
  text-decoration: none;
  display: block;
  width: 100%;
  &:hover .ticket-name {
    color: $blue;
  }
}
