.tickets {
  width: 100%;
  margin: 1em 0;
  border-top: 1px solid #ddd;
}

.ticket {
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

.ticket-title {
  h4 {
    display: inline-block;
    margin: 0;
    font-size: 1.1em;
  }
  margin-bottom: .6em;
}

.ticket-price {
  font-size: .9em;
  color: #666;
  display: inline-block;
  &:before {
    content: "-";
    padding: 0 .4em 0 .2em;
  }
}

.ticket-description {
  margin: 0;
  color: #888;
}

.ticket-count {
  text-align: right;
  float: right;
  vertical-align: top;
  white-space: nowrap;
}

.ticket-form {
  margin: 0;
  display: inline;
}

.form-footer {
  text-align: center;
  margin: 3em 0;
}


