<h2>Success!</h2>

<p>Thanks for investing in adventure, <%= params[:name] %>.</p>

<table>
  <tbody>
    <tr>
      <th>Purchase ID:</th>
      <td><%= params[:id] %></td>
    </tr>
  </tbody>
</table>

<br>

<%= @qr.html_safe %>
