/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
.site-content {
  max-width: 450px;
  margin: 0 auto;
}

.tickets {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}
.ticket {
  display: table-row;
}

.ticket-data, .ticket-count {
  display: table-cell;
  border: 1px solid #ddd { left: 0; right: 0; }
  padding: 1em 0;
}

.ticket-data {
  h4 {
    display: inline-block;
    margin: .2em 0;
  }
  p {
    margin: .2em 0;
  }
}

.ticket-count {
  text-align: right;
  vertical-align: top;
}

.add-to-cart {
  background-image: none;
  border: none;
  padding: .8em 4em;
  width: 100%;
  margin: 0;
  background-color: #3C99FB;
  color: #fff;
  font-size: 1.3em;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: darken(#3C99FB, 6);
  }
}

.ticket-form {
  h3 {
    text-align: center;
    font-size: 1.4em;
  }
}

.form-footer {
  text-align: center;
}

.step-nav {
  margin: 1.5em 0;
}

.step-nav-item {
  text-decoration: none;
  color: #777;
  display: inline-block;
  margin: 0 10px;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }

  &.here {
    color: #222;
    font-weight: bold;
  }
}
