<div class="form-footer grid align-middle no-gutter">
  <div class="grid-cell one-of-two">
    <%= link_to 'â† Back', edit_sale_path(@sale), class: 'back-link' %>
  </div>
  <% unless @sale.purchases.empty? %>
    <div class="grid-cell one-of-two align-right">
      <button type="submit" class="primary-button"><%= button_text %> &rarr;</button>
    </div>
  <% end %>  
</div>
