<h3>Tickets</h3>
<div class='tickets'>
  <% @tickets.each do |current_ticket| %>
    <% [current_ticket.revisions.last].each do |revision| %>
      <% data = revision.ticket_data %>
      <%= render partial: "ticket_form", locals: { name: "sale[ticket[ticket_ids][#{revision.ticket_id}]]", data: data } %>
    <% end %>
  <% end %>
</div>

<h3>Discount Packages</h3>
<div class='tickets'>
  <% @packages.each do |current_package| %>
    <% [current_package.revisions.last].each do |revision| %>
      <% data = revision.package_data %>
      <%= render partial: "ticket_form", locals: { name: "sale[package[package_ids][#{revision.package_id}]]", data: data } %>
    <% end %>
  <% end %>
</div>

<div id="quick-cart"><%= render 'quick_cart' %></div>
