<div class='static-contact grid no-gutter align-middle'>
  <div class='grid-cell one-of-two'><h4 class='cart-heading'>Contact Info</h5></div>
  <div class='grid-cell align-right one-of-two'>
    <%= link_to "edit info", edit_personal_info_path(redemption_code: @sale.redemption_code), method: :patch, remote: true, class: 'button cart-edit-button' %>
  </div>
</div>
<div class='static-info'>
  <div class='contact-item'>
    <label>Name:</label> <span class='contact-name'><%= @sale.name %></span>
  </div>
  <div class='contact-item'>
    <label>Email:</label> <span class='contact-email'><%= @sale.email %></span>
  </div>
</div>
