<div>Contact Info <%= link_to "edit", edit_personal_info_path(redemption_code: @sale.redemption_code), method: :patch, remote: true, class: 'edit-info' %></div>
<div>Name: <%= @sale.name %></div>
<div>Email: <%= @sale.email %></div>
