<div class='grid no-gutter align-middle cart-item'>
  <div class='grid-cell one-of-two'>
    <%= purchase.quantity %> <span class='cart-item-name'><%= purchase.name.pluralize(purchase.quantity) %></span>
  </div>
  <div class='grid-cell one-of-two align-right'>
    <span class='cart-item-price'><%= price(purchase.price) %></span><span class='times'>&times;</span><%= purchase.quantity %>
  </div>
</div>
