<!-- Used for the receipt page -->
<div class='contact-item'>
  <label>Name:</label> <span class='contact-name'><%= @sale.name %></span>
</div>
<div class='contact-item'>
  <label>Email:</label> <span class='contact-email'><%= @sale.email %></span>
</div>
