<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
<% end %>

<div id="outer">
  <div id="accordion">
    <%= render partial: "package_quantities" %>
  </div>
</div>

