<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
<% end %>

<div id='tickets'><%= render partial: "package_quantities" %></div>
<div id='info'></div>
<div id='cart'>Cart Empty</div>
