<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
<% end %>

<div id="outer">
  <div id="accordion">
    <%= render partial: "package_quantities" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#package_form").submit(function(event) {
      var quantities = $('.quantity_select');
      var penny_price = 0;
      var acc = 0;

      <% @tickets.each do |p| %>
        penny_price += (quantities[acc].value * <%= p.price %>);
        acc += 1;
      <% end %>

      $('#js_calculated_price').val(penny_price);
    });
  });
</script>
