<h2>Success!</h2>

<p>Thanks for investing in adventure, <%= @sale.name %>.</p>

<div><b>Your purchases:</b></div>
<table>
  <tbody>
    <tr>
      <th>Sale ID:</th>
      <td><%= @sale.redemption_code %></td>
      <th>Sale QR:</th>
      <td><%= @sale.redemption_qrcode(root_url).as_svg({module_size: 5}).html_safe %></td>
    </tr>
    <br>
  </tbody>
</table>

