<h2>Success!</h2>

<p>Thanks for investing in adventure, <%= @purchase.name %>.</p>

<table>
  <tbody>
    <tr>
      <th>Purchase ID:</th>
      <td><%= @purchase.redemption_id %></td>
    </tr>
  </tbody>
</table>

<br>

<%= @purchase.redemption_qrcode.as_svg({module_size: 5}).html_safe %>
