<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript">
    // Handle Safari back/forward cache after checkout completed.
    $(window).bind("pageshow", function(event) {
      if (event.originalEvent.persisted) {
        window.location.reload() 
      }
    });
  </script>
<% end %>

<div id='summary'>
  <% if @sale.email %>
    <h3 class='section-heading'>Purchase Summary</h3>
      <div class='card'>
  <% end %>

  <div class='personal-info-summary'><%= personal_info %></div>

  <% if @sale.email %>
    <%= render 'static_cart' %>
    </div>
    <%= form_tag checkout_path(redemption_code: @sale.redemption_code), remote: true, method: :patch, class: "checkout-form" do %>
      <%= render partial: "checkout_form", locals: { button_text: "Purchase" } %>
    <% end %>
  <% end %>
</div>
