<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript">
    // Handle Safari back/forward cache after checkout completed.
    $(window).bind("pageshow", function(event) {
      if (event.originalEvent.persisted) {
        window.location.reload()
      }
    });
  </script>
<% end %>

<div id='summary'>
  <div class='personal-info-summary'><%= render 'personal_info_form' %></div>
  <div id='checkout-form'></div>
</div>
